<nav class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 hidden-xs">
            <span class="nav-text">
                <i class="fa fa-phone" aria-hidden="true"></i>  +216 21 854 653 
                <i class="fa fa-envelope" aria-hidden="true"></i> abdelkarimksouri@gmail.com
            </span>
        </div>
        <div class="col-sm-4 text-center">
            <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
        </div>
      <div class="col-sm-4 text-right hidden-xs">
              <ul class="tools">                    
              <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-globe" aria-hidden="true"></i> Language<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Russian</a></li>
                    <li><a href="#">French</a></li>
                    <li><a href="#">Mandarin</a></li>
                    <li><a href="#">Italian</a></li>
                    <li><a href="#">Gorgean</a></li>
                </ul>
              </li>
                  
              <li class="dropdown">
               <a class="" href="#"><i class="fa fa-user" aria-hidden="true" ></i> My Account</a>                  
              </li>
              <li class="dropdown" (click)="logout()">
                <a class=""><i class="fa fa-user" aria-hidden="true" ></i> Logout</a>                  
               </li>
                  
              <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-usd" aria-hidden="true"></i> Currency<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">USD</a></li>
                    <li><a href="#">EUR</a></li>
                    <li><a href="#">$</a></li>
                </ul>
              </li>                    
              </ul>
            </div>
      </div>
    </div>
  </nav>
  
  <nav class="navbar navbar-inverse" style="display:-webkit-box !important;">
      <div class="container" style="width:100% !important;">
        <div class="navbar-header" style="width:100% !important;">
            <div class="float-left"> 
                <div class="button-left">
                  <span class="fa fa-fw fa-bars" (click)="selectedNavItem()" style="cursor:pointer"></span>
                </div> 
              </div>

            <div class="collapse navbar-collapse" style="display: -webkit-box !important;  height: 50px;margin-right: 6px;float: left !important;">       
              <a class="navbar-brand" href="#" style="float: left !important; text-align: center;" >
                <img src="https://lh3.googleusercontent.com/-N4NB2F966TU/WM7V1KYusRI/AAAAAAAADtA/fPvGVNzOkCo7ZMqLI6pPITE9ZF7NONmawCJoC/w185-h40-p-rw/logo.png">
              </a>
            </div>
      </div>
      </div>
    </nav>