
<app-menu></app-menu>  
<div class="wrapper">
    
        <!-- Sidebar -->
        <nav id="sidebar">
            <app-navbar></app-navbar>
        </nav>
    
        <!-- Page Content -->
        <div id="content" >
            <!-- We'll fill this with dummy content -->
            <div class="cnt" style="margin-left:2%; margin-bottom:10%">
                    <router-outlet></router-outlet>
            </div>
            <div class="footer">
                    <app-footer></app-footer>
            </div>

            
        </div>
    
</div>
